.hey1 {
background-color: rgba(236, 236, 236, 1);
font-size: 10px;
height: 16vh;
font-family: 'Ranga', cursive;
padding-top: 4vh;
}
.marry {
  font-size: 50px;
  padding-top: 5px;
  color:black;
}
.marry-1 {
  font-size: 50px;
  padding-top: 0.05vh
}
.marri {

  font-size:1.5vw;
}
.hey2 {
  background-color: rgb(79, 83, 155);
  font-size: 10px;
  height: 16vh;
  font-family: 'Ranga', cursive;
}
a {
  color:black;
}
a:hover {
  color:grey;
  text-decoration: none;
}
.intro {
  color: firebrick;
  padding-top:20vh;
}
.intro-1{
  color: white !important;
  font-size: 5vw !important;
  font-family: 'Parisienne', cursive;
}
#when{
  color: black !important;
  font-size: 70px !important;
  font-family: 'Ranga', cursive;
}

.Last-try {
  padding-top: 1.5vh;
  background-color: rgb(128,0,32);
  font-size: 25px;
  height:15vh;
  font-family: 'Ranga', cursive;
  color:black;
}

.hotel {
  padding-left:;
  color: grey !important;
}
.render {
  color: white !important;
}

.hotelex {
  font-size:1.5vw !important;

}
.end {
  padding-top: 5vh;
  font-size: 25px;
  height:15vh;
  font-family: 'Ranga', cursive;
}
.lol {
  padding-top:5vh;
  font-size: 3vw;
}
.btn{
  background-color: black;
}
#buttons{
  margin-left:20px;
}
.ending{
  font-size: 5vw;
}

#farm{
  margin-bottom: 20px !important;
}
